head
    title Start to Gulp -- Sample Page

    // Site Necessities
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='cleartype', content='on')
        
    //- link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="./vendor/materialize/dist/css/materialize.min.css")

    // Your stylesheets
    link(rel="stylesheet" href="./css/materialicons.css")
    link(rel='stylesheet', href='./css/main.css')
