// App's dependencies(libraries) and business logics
script(src="cordova.js")
script(src="./vendor/jquery/dist/jquery.min.js")
script(src="./vendor/materialize/dist/js/materialize.min.js")
script(src="./vendor/firebase/firebase.js")
script(src="./vendor/vue/dist/vue.min.js")

// Your app functions script
script(src="./js/main.js")
