script(type="text/x-template" id="homepage")
    .row
        .col.s12.m12
            .card.yellow.accent-3
                .card-content
                    span.card-title: h4 Amazon
                    p Earth's biggest online selection of books, magazines, music, DVDs, videos, electronics, computers, software, apparel &amp; accessories, shoes, jewelry ...
                .card-action
                    a.deep-orange-text(v-on:click.prevent.stop="openInAppBrowser" 
                    href="https://amazon.com" 
                    data-cart-url='https://www.amazon.com/gp/aw/c/ref=navm_hdr_cart') Shop from here
