script(type="text/x-template" id="sign-in")
    .row.valign-wrapper.sign-in
        .col.s12
            .card.panel.white.z-depth-1
                .row
                    h5.white-text.red.center-align.error(v-show="errorMessage") {{ errorMessage }}
                    .input-field.col.s12
                        i.material-icons.prefix.orange-text.text-darken-4 account_circle
                        input.validate#email-address(type="email" v-on:keyup="validateAuthenticationForm" v-model="auth.email" required)
                        label(for="email-address" data-error="Invalid email address" data-success="Great!") Email Address
                    .input-field.col.s12
                        i.material-icons.prefix.orange-text.text-darken-4 lock
                        input.validate#password(type="password" v-on:keyup="validateAuthenticationForm" v-model="auth.password" min-length="6" required)
                        label(for="password") Password
                        span.red-text.align-center(v-show="validation.password.weak") That's a weak password!
                    .input-field.col.s12
                        a.btn.btn-block.btn-large.waves-effect.waves-light.align-center.white-text.orange.darken-4.z-depth-1(v-on:click.prevent.stop="loginOrSignUpUser" v-bind:class="{ 'disabled': formInputsAreInvalid }")
                            b
                                i.material-icons.left loyalty
                                | Sign In / Sign Up

                    .input-field.col.s12
                        p.center-align.grey-text: b Or
                        a.btn.btn-block.btn-large.waves-effect.waves-light.align-center.white-text.blue.darken-4.z-depth-1(v-on:click.prevent.stop="loginWithFacebook")
                            b
                                i.material-icons.left face
                                | Sign In/Up with Facebook
