// @import url('https://fonts.googleapis.com/css?family=Telex');
@font-face {
    font-family: 'Telex';
    font-style: normal;
    font-weight: 300;
    src: local('Telex'), local('Telex Regular'), url('../fonts/Telex-Regular.ttf') format('truetype');
}

html,
body {
    font-family: 'Telex', Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}

[v-cloak] {
    display: none
}

a{
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

i.prefix{
    margin-top: 2.3%;
}

.curved-borders{
    border-radius: 4px;
}

.brand-logo {
    font-weight: bolder;
    img {
        height: 65px !important;
        vertical-align: middle;
    }
}

nav{
    .button-collapse{
        margin: 0 0;
    }
}

#side-menu{
    a{
        span{
            font-weight: bolder;
            padding: 1% 0 1%;
            &:last-child{
                padding-bottom: 15px;
            }
        }
    }
    .background{
        img{
            width: 100%;
        }
    }
}

.card {
    border-radius: 5px;
    .card-title {
        font-weight: normal;
        h4 {
            padding: 0;
            margin: 0;
        }
    }
}

.row.valign-wrapper{
    .col{
        margin-top: 2%;
    }
    .loading-text {
        padding-top: 10%;
        width: 60%;
        margin: 0 20%;
        font-size: 1.2em;
    }
    .loading-circle {
        margin-top: 25%;
        .circle-clipper .circle {
            border-width: 3px;
        }
        .spinner-orange,
        .spinner-orange-only {
            border-color: #F27A29;
        }
    }
    &.shopping-cart{
        .loading-circle {
            margin-top: 40% !important;
        }
    }
}

.shopping-cart {
    .order-total {
        tbody tr {
            td:first-child {
                padding-left: 5%;
            }
        }
    }
    .empty-shopping-cart {
        padding-top: 20%;
        i.material-icons {
            font-size: 4em;
        }
    }
}

.sign-in{
    .card{
        padding: 1% 3% 2%;
        border-radius: 8px;
    }
    .error{
        padding: 2% 0;
    }
    .waves-effect{
        display: block;
    }
}

#mpesa-instructions{
    .modal-content {
        padding: 0;
        .collection.with-header{
            .collection-header{
                padding: 10px 10px;
            }
            .collection-item{
                padding: 10px 10px;
            }
        }
    }
}

.user-location{
    h5{
        font-size: 1.2em;
        padding: 1em 8px 0;
        margin: 0;
    }
    p.radio-button{
        margin-left: 4.5%;
    }
    [type="checkbox"].filled-in:checked+label:after{
        border: 2px solid #e65100 !important;
        background: #e65100 !important;
    }
    .card{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .progress {
            border-radius: 0;
        }
    }
}
