// @import url('https://fonts.googleapis.com/css?family=Telex');
@font-face {
    font-family: 'Telex';
    font-style: normal;
    font-weight: 300;
    src: local('Telex'), local('Telex Regular'), url('../fonts/Telex-Regular.ttf') format('truetype');
}

html,
body {
    font-family: 'Telex', Arial, Helvetica, sans-serif;
}

[v-cloak] {
    display: none
}

.brand-logo {
    font-weight: bolder;
    img {
        height: 65px !important;
        vertical-align: middle;
    }
}

.card {
    .card-title {
        font-weight: normal;
        h4 {
            padding: 0;
            margin: 0;
        }
    }
}

.shopping-cart {
    .order-total {
        tbody tr {
            td:first-child {
                padding-left: 5%;
            }
        }
    }
    .loading-text {
        padding-top: 10%;
        width: 60%;
        margin: 0 20%;
        font-size: 1.2em;
    }
    .loading-circle {
        margin-top: 25%;
        .circle-clipper .circle {
            border-width: 6px;
        }
        .spinner-orange,
        .spinner-orange-only {
            border-color: #F27A29;
        }
    }
    .empty-shopping-cart {
        padding-top: 20%;
        i.material-icons {
            font-size: 4em;
        }
    }
}
