extends layouts/master

block content
    .navbar-fixed
        nav.blue
            .nav-wrapper
                router-link(to="/").brand-logo.bold.center
                    //- img(src="http://res.cloudinary.com/dpmk2cnpi/image/upload/v1483877198/vm-tag_l5kop4.png")
                    img(src="images/vm-logo_hsvchn.png")
                ul#nav-mobile.left
                    li.nav-item
                        //- v-on:click="openSidebar"
                        a(do-the-above)
                            i.material-icons.md-36.text-blue-grey.darken-4 menu

                ul#nav-mobile.right
                    li.nav-item
                        router-link(to="/cart")
                            i.material-icons.md-36.text-blue-grey card_travel
