extends layouts/master

block content
    .navbar-fixed
        nav.blue
            .nav-wrapper
                router-link(to="/").brand-logo.bold.center: img(src="images/vm-logo_hsvchn.png")
                ul#nav-mobile.left
                    li.nav-item
                        a.button-collapse.show-on-large(href="javascript:void(0)" data-activates="side-menu")
                            i.material-icons.md-36.text-blue-grey.darken-4 menu

                ul#nav-mobile.right
                    li.nav-item
                        router-link(to="/cart")
                            i.material-icons.md-36.text-blue-grey shopping_cart        
    
    ul#side-menu.side-nav.right.orange.darken-4
        li.menu-item(v-show="user.email")
            .userView(v-bind:id="user.id")
                .background: img(src="./images/profile-background.jpg")
                
                a(href="javascript:void(0)")
                    img.circle(v-if="!user.photoURL" src="./images/profilepic-placeholder.jpg")
                    img.circle(v-if="user.photoURL" v-bind:src="user.profile_photo")
                
                a(v-if="user.name" href="javascript:void(0)")
                    span.white-text.name {{ user.displayName }}
                
                a(v-if="user.email" href="javascript:void(0)")
                    span.white-text.email {{ user.email }}
        
        li.menu-item(v-show="user.email")
            //- a.grey-text.text-lighten-3(href="javascript:void(0)")
            //-     i.material-icons.grey-text.text-lighten-3 shopping_cart 
            //-     | Your Orders

            //- a.grey-text.text-lighten-3(href="javascript:void(0)")
            //-     i.material-icons.grey-text.text-lighten-3 location_on 
            //-     | Your Location
            
            a.grey-text.text-lighten-3(v-on:click="signOutUser")
                i.material-icons.grey-text.text-lighten-3 exit_to_app
                | Sign Out
        
        li.menu-item(v-show="!user.email")
            router-link.grey-text.text-lighten-3(to="/user/signin")
                i.material-icons.grey-text.text-lighten-3 lock 
                | Sign In
