extends layouts/master

block content
    .navbar-fixed
        nav.blue
            .nav-wrapper
                router-link(to="/user/location").brand-logo.bold.center
                    img(src="images/vm-logo_hsvchn.png")
                ul#nav-mobile.left(v-if="user.email")
                    li.nav-item
                        a.button-collapse.show-on-large(href="javascript:void(0)" data-activates="side-menu")
                            i.material-icons.md-36.text-blue-grey.darken-4 menu

                ul#nav-mobile.right
                    li.nav-item
                        router-link(to="/cart")
                            i.material-icons.md-36.text-blue-grey shopping_cart        
    
    ul#side-menu.side-nav.fixed.orange.darken-4
        li.menu-item(v-if="user.email")
            .userView(v-bind:id="user.localId")
                .background
                    img(src="./images/cat.jpeg")
                
                a(href="javascript:void(0)")
                    img.circle(v-if="!user.photoURL" src="./images/cat-profile-pic.jpeg")
                    img.circle(v-if="user.photoURL" v-bind:src="user.photoURL")
                
                a(v-if="user.displayName" href="javascript:void(0)")
                    span.white-text.name {{ user.displayName }}
                
                a(href="javascript:void(0)")
                    span.white-text.email {{ user.email }}

        
        li.menu-item
            a.grey-text.text-lighten-3(href="javascript:void(0)")
                i.material-icons.grey-text.text-lighten-3 shopping_cart 
                | Your Orders

            a.grey-text.text-lighten-3(href="javascript:void(0)")
                i.material-icons.grey-text.text-lighten-3 location_on 
                | Your Location

