doctype html
html(lang="en").grey.lighten-4

    include ../includes/header

    body.grey.lighten-4
        #application(v-cloak)
            block content
      
            .row.root
                .col.s12.m6.push-m3.l4.push-l4
                    router-view

        include ../components/home
        include ../components/cart
        include ../components/signin
        include ../components/updateuserinfo
        include ../components/userlocation
        include ../components/checkedout

        include ../includes/footer
        include ../includes/scripts
