doctype html
html(lang="en").grey.lighten-4

    include ../includes/header

    body.grey.lighten-4
        #application(v-cloak)
            // Add your site or app content here
            block content
            
            // router outlet
            router-view

        include ../components/home
        include ../components/cart

        include ../includes/footer
        include ../includes/scripts
